{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
	<section class="container py-4">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam repellat laudantium odit minima explicabo libero eveniet repellendus voluptatibus magni quis autem alias earum delectus at, voluptatem rem totam quo dolorem.</p>
	</section>
{% endblock %}
