{% extends 'base.html.twig' %}

{% block title 'Créer une nouvelle catégorie' %}

{% block body %}
	<section class="container my-4">
		<div class="card col-md-6 mx-auto shadow">
			<h1 class="card-header text-muted text-center h3 py-3">Nouvelle catégorie</h1>

			<div class="m-3">
				{{ form_start(form) }}
				{{ form_widget(form) }}

				<button type="submit" class="btn btn-lg btn-primary fs-4 w-100 my-2" formnovalidate>Créer</button>
				{{ form_end(form) }}
			</div>
		</div>
	</section>
{% endblock %}
