{% extends 'recipe/base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
    <div class="container my-4">
        <h2 class="h4">Recette pour : {{ recipe.title }}</h2>
        <p>{{ recipe.content }}</p>
    </div>
{% endblock %}
